* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 100%;
  height: auto;
}

/* Common style */

.btn button {
  padding: 14px 18px;
  background-color: #469165;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
}

.btn button:hover {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.482);
  cursor: pointer;
  color: red;
}

.btn1 button i {
  /* color: rgba(255, 255, 255, 0.329); */
  background-color: transparent;
  border: none;
}



/* Heade o Navbar style */
header {
  width: 100%;
  /* background-color: rgb(20, 196, 212); */
  /* display: flex;
  justify-content: center; */

  padding: 18px 0;
}

header nav {
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1530px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}

nav ul li a:hover {
  text-decoration: underline;
  color: blue;
}


/* Hero section style */
section {
  max-width: inherit;
  height: 90%;
  /* max-width: 1800px; */
  background-image: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 128px 135px 200px 135px;
}

.hero_section {
  /* border: 1px solid red; */
  max-width: 1530px;
  text-align: center;
}

.top_header button {
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 25px;
  padding: 16px 24px;
  display: inline-block;
  margin-bottom: 24px;
  color: #3dd97e;
  font-size: 18px;

}

.top_header button i {
  background-color: #30b86935;
  border: 0;
  border-radius: 50%;
  color: #FFFFFF;
}

.hero_header {
  /* border: 1px solid red; */
  color: #ffffff;
  margin-bottom: 30px;
  line-height: 80px;
  margin: 0 auto;
}

.hero_header h1 {
  display: inline-block;
  font-size: 80px;
  font-weight: 900;
  /* text-wrap: wrap; */
}

span {
  display: block;
  color: #30B868;
}

.hero_paragraph {
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 36px;
}

.hero_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero_btn .btn button {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.hero_btn .btn1 button {
  padding: 14px 18px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 18px;
  background-color: transparent;
  color: #ffffff;
}

.hero_btn .btn1 button:hover {
  color: red;
  cursor: pointer;
}

.notes_card {
  width: 100%;
  height: 504px;
  /* background-color: aqua; */
  position: relative;
  overflow: hidden;
}

.cards{
 position: absolute;
 width: 1530px;
 display: flex;
 /* justify-content: space-between; */
 gap: 40px;
 bottom: 0px;
 left: 50%;
 transform: translateX(-46%);
}

.card {
  /* border: 1px solid red; */
  text-align: center;
  padding:40px 15px;
  border-bottom: none;
  box-shadow:0px 0px 7px 0px rgba(0, 0, 0, 0.187);
  border-radius: 8px 8px 0 0;
}

.notes_header {
  text-align: center;
  margin-bottom: 50px;
}

.notes_header h1 {
  color: #001931;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 50px;
}

.notes_header p {
  color: #627382;
  font-size: 18px;
  margin-bottom: 10px;
  /* font-weight: 100; */
}

.img_box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.card img {
  background-color: #F95555;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 30px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 18px;
}

.card p {
  font-size: 18px;
  color: #627382;
}

.brain_section {
  width: 100%;
  height: 870px;
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center;
    align-items: center; */
  padding: 140px;
  /* margin-top: -70px; */
  background-color: #FFFFFF;
}

.brain {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 90px;
  width: 1450px;
  /* padding: 8px; */
}

.left_section_img {
  display: block;
}

.left_section_img img {
  width: 625px;
  height: 625px;
}

.right_section h4{
  color: #30B868;
  font-size: 18px;
  font-weight: 300px;
  margin-bottom: 18px;
}

.right_section h1{
  color: #000000ce;
  font-size: 55px;
  margin-bottom: 18px;
  font-weight: bold;
}

.right_section p{
  font-size: 19px;
  font-weight: 300;
  color: #627382;
  margin-bottom: 35px;
}

.right_section ul li{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 16px;
}

.challenge_section{
  /* background-color: #F7F6F2; */
  width: 100%;
  height: 570px;
}

.challenge{
  width: 1450px;
  height: 432px;
  background-color: #F7F6F2;
  margin: 0 auto;
  padding: 85px 45px;
  text-align: center;
}

.challenge h1{
 font-size: 45px;
 color: #001931;
 margin-bottom: 18px;
 font-weight: bold;
}

.challenge p{
  font-size: 18px;
  color: #627382;
  margin-bottom: 28px;
}

.one button{
  /* margin-bottom: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  margin: 0  auto 18px;
}