* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
}

/* Common style */

.btn button{
  padding: 14px 18px;
  background-color: #469165;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
}

.btn button:hover{
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.482);
  cursor: pointer;
  color: red;
}



/* Header and Hero section style */
header {
  width: 100vw;
  background-color: rgb(20, 196, 212);
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

header nav {
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1530px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
}

nav ul li a:hover{
  text-decoration: underline;
  color: blue;
}